.function {
    width: 100%;
    height: 56px;
    background-color: rgb(226 228 233);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 84px;
}

.function__left {
    padding-left: 16px;
    display: flex;
    align-items: center;
}

.function__right {
    margin-right: 16px;
    display: flex;
}

.function__left__title {
    font-size: 20px;
    font-weight: 500;
    color: #1f2229;
    margin-right: 4px;
}

.icon__menu--16 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
}

.function__left__text {
    color: #4262F0;
    display: flex;
    align-items: center;
    padding: 0 12px 0 18px;
    cursor: pointer;
}

.right__threedot--32 {
    width: 32px;
    height: 32px;
    background-color: white;
    border-radius: 4px;
    border: 1px solid #D3D7DE;
    margin: 0 8px;
}

.right__threedot--32:hover {
    background-color: #f0f2f4;
}

.right__threedot--64 {
    width: 64px;
    height: 32px;
    background-color: white;
    border-radius: 4px;
    border: 1px solid #D3D7DE;
}

.right__threedot--64:hover {
    background-color: #f0f2f4;
}

.downblack__position {
    position: absolute;
    right: -32px;
}