.checkbox {
    width: 16px;
    height: 16px;
    margin-right: 8px;
}

.checkbox:hover {
    border-color: #2b4eee;
    background-color: #fff;
}

.checkbox__list label {
    font-weight: 500;
    font-size: 14px;
}

.checkbox__item {
    display: flex;
    align-items: center;
    margin-bottom: 18px;
}