/* .input {
    width: 240px;
    height: 32px;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 0 16px;
    box-sizing: border-box;
    margin-top: 8px;
}

.input:hover {
    border-color: #7C869C;
}

.input:focus {
    border-color: #4262F0;
}

.input:focus-visible {
    border-color: #4262F0;
}

.input--error {
    border-color: #EC4141;
}

.input--success {
    border-color: #31B491;
}

.input__icon {
    padding-left: 32px;
}

.input__icon__right {
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position-y: center;
    background-position-x: 216px;
}

.input::placeholder {
    font-size: 13px;
    color: #a2a2a2;
    font-weight: 500;
}

.input__icon--search {
    background-color: rgb(240 242 244);
    margin-top: 0px;
    width: 275px;
    border: none;
}


/* .input__icon--search:hover {
    border: 1px solid#4262F0;
}

.input__icon--search:focus {
    border: 1px solid#4262F0;
} */


/* .input__iconright {
    position: relative;
    display: flex;
    width: 240px;
    height: 32px;
    border: 1px solid;
    margin-top: 8px;
}

.input__right {
    width: 32px;
    height: 32px;
    background-color: red;
    /* position: absolute; */


/* }
.input__left {
    width: 100%;
} */