.table {
    width: 3040px;
    border-spacing: unset;
    border: unset;
    border-collapse: collapse;
}

.table thead tr {
    background-color: rgb(240 242 244);
}

.table thead tr th {
    font-weight: 700;
}

.table tbody tr td {
    font-weight: 500;
}

.table .text--blue {
    color: rgb(19, 59, 236);
}

.text--icon {
    display: flex;
    align-items: center;
    line-height: 40px;
}

.table tr {
    box-sizing: border-box;
    height: 40px;
    border-bottom: 0.5px solid #D3D7DE;
    cursor: pointer;
}

.table__checkbox {
    padding-left: 16px;
    padding-right: 10px;
}

.table tbody tr:hover {
    background-color: #E7EBFD;
}

.text-align-left {
    text-align: left;
}

.text-align-right {
    text-align: right;
}

table tr.row--selected {
    background-color: #dedede;
}

.abc {
    /* padding: 0 10px; */
    box-sizing: border-box;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 56px;
    overflow: auto;
}

.m-table thead {
    position: sticky;
}

.parent__tdicon {
    margin-left: 12px;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 2px 4px #1f222929;
}