.tooltip {
    box-sizing: border-box;
    max-width: 320px;
    background-color: #424857;
    min-height: 32px;
    border-radius: 4px;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    position: relative;
    margin-left: 12px;
    color: #fff;
}

.tooltip::before {
    position: absolute;
    top: 16px;
    left: -16px;
    content: "";
    border: 8px solid;
    border-color: transparent #424857 transparent transparent;
}