.navigate {
    width:calc(100% - 560px);
    background-color: white;
    height: 56px;
    position: absolute;
    top: calc(100% - 56px);
    box-sizing: border-box;
    border: 1px solid #D3D7DE;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 16px;
}

.navigate__left {
    font-weight: 500;
}

.navigate__right {
    padding-right: 16px;
    display: flex;
    align-items: center;
    width: 340px;
    justify-content: space-between;
}