/* .button {
    display: inline-block;
    text-decoration: none;
    border: none;
    outline: none;
    padding:  0 8px;
    border-radius: 4px;
    min-width: 20px;
    height: 32px;
    line-height: 32px;
    background-color: #4262F0;
    color: #FFFFFF;
    font-size: 13px;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
}

.button-primary{
    color: #FFFFFF;
    font-size: 13px;
    font-weight: 500;
    text-align: center;
}

.button__drop {
    display: flex;
}

.button-comboprimary{
    min-width: 20px;
    height: 32px;
    text-align: center;
    line-height: 32px;
    display: flex;
    align-items: center;
    border-radius: 4px 0 0 4px;
    border-right: 1px #2B4EEE solid;
}

.button-comboprimary .icon {
    display: inline-block;
    margin-right: 8px;
}

.button--dropdown {
    width: 32px;
    height: 32px;
    background-color: #4262F0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 4px 4px 0;
    border-left: 1px #2B4EEE solid;
}

.button--blue {
    background-color: #4262F0;
}

.button--green {
    background-color: #31B491;
}

.button--red {
    background-color: #EC4141;
} */
