    .icon {
        background-repeat: no-repeat;
        background-size: contain;
        cursor: pointer;
    }

    /* .icon:hover{
    background-color: #f0f2f4;
    -webkit-transition: all .3s ease-in-out;
} */

    /* .icon~.icon {
        margin-left: 24px;
    } */

    .icon-16 {
        width: 16px;
        height: 16px;
    }

    .icon-24 {
        width: 24px;
        height: 24px;
    }

    .icon-32 {
        width: 32px;
        height: 32px;
    }

    .icon-close-16px:before {
        content: "";
        display: inline-block;
        width: 16px;
        height: 16px;
        background: transparent url(https://crmplatform.misacdn.net/app/assets/Images/icon/icon_collection.svg) no-repeat -80px -16px;
    }

    .icon-close-16px:hover {
        background-color: #d3d7de;
        border-radius: 50%;
        width: 16px;
        height: 16px;
    }

    .icon--toggle {
        width: 24px;
        height: 24px;
        background: transparent url(https://crmplatform.misacdn.net/app/assets/Images/icon/icon_collection_v2.svg) no-repeat 0px -337px;
    }

    .icon--logo {
        background: url('./../../assets/img/Logo_Ban_hang.svg');
        height: 32px;
        width: 32px;
    }

    .icon--search {
        content: "";
        width: 16px;
        height: 16px;
        display: inline-block;
        position: absolute;
        background: transparent url(https://crmplatform.misacdn.net/app/assets/Images/icon/icon_collection.svg) no-repeat -32px 0px;
    }

    .icon--blog {
        content: "";
        display: inline-block;
        width: 24px;
        height: 24px;
        background: transparent url(https://crmplatform.misacdn.net/app/assets/Images/icon/icon_collection.svg) no-repeat -96px -433px;
        cursor: pointer;
    }

    .icon--facebook {
        content: "";
        display: inline-block;
        width: 24px;
        height: 24px;
        background: url(https://crmplatform.misacdn.net/app/assets/Images/icon/icon_facebook_24_blue.svg) no-repeat;
        background-size: 24px;
    }

    .icon--stock {
        content: "";
        display: inline-block;
        width: 24px;
        height: 24px;
        background: transparent url(https://crmplatform.misacdn.net/app/assets/Images/icon/icon_collection_v2.svg) no-repeat -240px -409px;
    }

    .icon--calendar {
        content: "";
        display: inline-block;
        width: 24px;
        height: 24px;
        background: transparent url(https://crmplatform.misacdn.net/app/assets/Images/icon/icon_collection_v2.svg) no-repeat -120px -337px;
    }

    .icon--avatar {
        background: url('./../../assets/img/avatar.png');
        border-radius: 50%;
        box-sizing: border-box;
        -moz-background-clip: padding;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        border: 1px solid #d3d7de;
        width: 32px;
        height: 32px;
        cursor: pointer;
        margin: 0 2px;
    }

    .icon--help {
        content: "";
        display: inline-block;
        width: 24px;
        height: 24px;
        background: transparent url(https://crmplatform.misacdn.net/app/assets/Images/icon/icon_collection_v2.svg) no-repeat -217px -362px;
    }

    .icon--3d {
        background: url('../../assets/img/icon_collection.svg') no-repeat -243px -411px;
        width: 19px;
        height: 20px;
    }

    .icon--calendar {
        background: url('../../assets/img/icon_collection.svg') no-repeat -123px -339px;
        width: 18px;
        height: 20px;
    }

    .icon--notify {
        content: "";
        display: inline-block;
        width: 24px;
        height: 24px;
        background: transparent url(https://crmplatform.misacdn.net/app/assets/Images/icon/icon_collection_v2.svg) no-repeat -72px -337px;
    }

    .icon--setting {
        content: "";
        display: inline-block;
        width: 24px;
        height: 24px;
        background: transparent url(https://crmplatform.misacdn.net/app/assets/Images/icon/icon_collection_v2.svg) no-repeat -96px -337px;
    }

    .icon--dashboard {
        background: url('../../assets/img/icon_collection.svg') no-repeat 0 -272px;
        width: 16px;
        height: 16px;
    }

    .icon--lead {
        background: url('../../assets/img/icon_collection.svg')no-repeat -160px -289px;
        width: 16px;
        height: 16px;
    }

    .icon--offer {
        background: url('../../assets/img/icon_collection.svg') no-repeat -16px -272px;
        width: 16px;
        height: 16px;
    }

    .icon--contact {
        background: url('../../assets/img/icon_collection.svg') no-repeat -129px -48px;
        width: 14px;
        height: 16px;
    }

    .icon--account {
        background: url('../../assets/img/icon_collection.svg') no-repeat -112px -48px;
        width: 16px;
        height: 16px;
    }

    .icon--opportunity {
        background: url('../../assets/img/icon_collection.svg') no-repeat -80px -48px;
        width: 16px;
        height: 16px;
    }

    .icon--quote {
        background: url('../../assets/img/icon_collection.svg') no-repeat -66px -48px;
        width: 12px;
        height: 16px;
    }

    .icon--order {
        background: url('../../assets/img/icon_collection.svg') no-repeat -144px -48px;
        width: 16px;
        height: 16px;
    }

    .icon--invoce-request {
        background: url('../../assets/img/icon_collection.svg') no-repeat -50px -48px;
        width: 12px;
        height: 16px;
    }

    .icon--oportunity-poo {
        background: url('../../assets/img/icon_collection.svg') no-repeat -66px -305px;
        width: 12px;
        height: 15px;
    }

    .icon--activity {
        background: url('../../assets/img/icon_collection.svg') no-repeat -129px -272px;
        width: 15px;
        height: 15px;
    }

    .icon--forcecast {
        background: url('../../assets/img/icon_collection.svg') no-repeat -81px -273px;
        width: 15px;
        height: 15px;
    }

    .icon--campaign {
        background: url('../../assets/img/icon_collection.svg') no-repeat -208px -48px;
        width: 16px;
        height: 16px;
    }

    .icon--report {
        background: url('../../assets/img/icon_collection.svg') no-repeat -32px -272px;
        width: 16px;
        height: 16px;
    }

    .icon--other {
        background: url('../../assets/img/icon_collection.svg') no-repeat -49px -275px;
        width: 14px;
        height: 11px;
    }

    .icon--refresh::before {
        content: "";
        display: inline-block;
        width: 16px;
        height: 16px;
        background: transparent url(https://crmplatform.misacdn.net/app/assets/Images/icon/icon_collection.svg) no-repeat -352px -32px;
        cursor: pointer;
    }

    .icon--plus {
        content: "";
        display: inline-block;
        margin-bottom: 2px;
        width: 16px;
        height: 16px;
        background: transparent url(https://crmplatform.misacdn.net/app/assets/Images/icon/icon_collection.svg) no-repeat -240px -128px;
    }

    .icon--down {
        display: inline-block;
        width: 16px;
        height: 16px;
        background: transparent url(https://crmplatform.misacdn.net/app/assets/Images/icon/icon_collection.svg) no-repeat -48px -32px;
        cursor: pointer;
    }

    .icon--product {
        content: "";
        display: inline-block;
        width: 16px;
        height: 16px;
        background: transparent url(https://crmplatform.misacdn.net/app/assets/Images/icon/icon_collection_v2.svg) no-repeat -16px -48px;
    }

    .icon--down-white {
        background: url('../../assets/img/icon_collection.svg') no-repeat -84px -166px;
        width: 9px;
        height: 5px;
    }

    .icon--more {
        background: url('../../assets/img/icon_collection.svg') no-repeat -49px -6px;
        width: 14px;
        height: 4px;
    }

    .icon--dropdown {
        content: "";
        display: inline-block;
        width: 16px;
        height: 16px;
        background: transparent url(https://crmplatform.misacdn.net/app/assets/Images/icon/icon_collection.svg) no-repeat -128px -304px;
    }

    .icon--up {
        display: inline-block;
        margin: 4px 0 4px 4px;
        width: 16px;
        height: 16px;
        background: transparent url(https://crmplatform.misacdn.net/app/assets/Images/icon/icon_collection.svg) no-repeat -32px -32px;
        cursor: pointer;
    }

    .icon--phone {
        background: url('../../assets/img/icon_collection.svg') no-repeat -177px -322px;
        width: 15px;
        height: 15px;
    }

    .icon--task {
        background: url('../../assets/img/icon_collection.svg') no-repeat -194px -321px;
        width: 12px;
        height: 16px;
    }

    .icon--demo {
        background: url('../../assets/img/icon_collection.svg') no-repeat -209px -321px;
        width: 14px;
        height: 16px;
    }

    .icon--email {
        background: url('../../assets/img/icon_collection.svg') no-repeat 0 -324px;
        width: 16px;
        height: 11px;
    }

    .icon--note {
        background: url('../../assets/img/icon_collection.svg') no-repeat -273px -115px;
        width: 16px;
        height: 14px;
    }

    .icon--pre1 {
        content: "";
        width: 16px;
        height: 16px;
        display: inline-block;
        background: transparent url(https://crmplatform.misacdn.net/app/assets/Images/icon/icon_collection.svg) no-repeat -16px -32px;
    }

    .icon--pre2 {
        background: url('../../assets/img/icon_collection.svg') no-repeat -115px -226px;
        width: 9px;
        height: 13px;
    }

    .icon--next1 {
        content: "";
        width: 16px;
        height: 16px;
        display: inline-block;
        background: transparent url(https://crmplatform.misacdn.net/app/assets/Images/icon/icon_collection.svg) no-repeat 0px -32px;
    }

    .icon--next2 {
        background: url('../../assets/img/icon_collection.svg') no-repeat -132px -226px;
        width: 9px;
        height: 13px;
    }

    .slideleft {
        width: 8px;
        height: 30px;
        border-radius: 0 6px 6px 0;
        box-shadow: 3px 2px 6px 2px rgba(51, 52, 55, 0.16);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .slideright {
        width: 8px;
        height: 30px;
        border-radius: 0 6px 6px 0;
        box-shadow: 3px 2px 6px 2px rgba(51, 52, 55, 0.16);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .icon--slideleft {
        background: url('../../assets/img/icon_collection.svg') no-repeat -22px -36px;
        width: 5px;
        height: 9px;
    }

    .icon--slideright {
        background: url('../../assets/img/icon_collection.svg') no-repeat -6px -36px;
        width: 5px;
        height: 9px;
    }

    .icon--tel {
        content: "";
        display: inline-block;
        width: 16px;
        height: 16px;
        background: transparent url(https://crmplatform.misacdn.net/app/assets/Images/icon/icon_collection.svg) no-repeat -320px -48px;
    }

    .icon-add-column::before {
        content: "";
        width: 16px;
        height: 16px;
        display: inline-block;
        background: transparent url(https://crmplatform.misacdn.net/app/assets/Images/icon/icon_collection.svg) no-repeat 0px 0px;
    }

    .icon--empty-report {
        content: "";
        display: inline-block;
        width: 42px;
        height: 46px;
        background: transparent url(https://crmplatform.misacdn.net/app/assets/Images/icon/EmptyInbox.svg) no-repeat 0px 0px;
    }