.navigate {
    width: 100%;
    background-color: white;
    height: 56px;
    position: absolute;
    top: calc(100% - 56px);
    box-sizing: border-box;
    border: 1px solid #D3D7DE;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 16px;
}

.navigate__left {
    font-weight: 500;
}

.navigate__right {
    padding-right: 16px;
    display: flex;
    align-items: center;
    width: 340px;
    justify-content: space-between;
}

.navigate__select{
    min-height: 32px;
    padding-left: 16px;
    padding-right: 8px;
    border-radius: 4px;
    border: 1px solid #d3d7de;
    cursor: pointer;
}

.sort-setting {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    box-sizing: border-box;
    margin-right: 16px;
}

.sort-setting:hover {
    background-color: #f0f2f4;
}

.move-page {
    width: 24px;
    height: 24px;
    /* pointer-events: none; */
}   

.move-page:hover {
    border-radius: 50%;
    background-color: #d3d7de;
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    cursor: pointer;
}
