.table {
    min-width: 3400px;
    border-spacing: unset;
    border: unset;
    border-collapse: collapse;
    box-sizing: border-box;
}

.table thead tr {
    background-color: #f9f9f9;
}

.table thead tr th {
    font-weight: bold;
    box-sizing: border-box;
    color: #1f2229;
    background-color: #f0f2f4;
    border-right: 1px solid  #f0f2f4;
    border-left: 1px solid #f0f2f4;
    position: relative;
}

.table thead tr th:hover {
    border-right: 1px solid #d3d7de!important;
}

.table thead tr th:hover .table-filter {
    display: flex;
}

.table-filter {
    position: absolute!important;
    top: 9px;
    right: 6px;
    display: none;
    width: 22px;
    height: 22px;
    z-index: 1000;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.table-filter:hover {
    border-radius: 50%;
    background-color: #d3d7de!important;

}

.table tbody tr td {
    font-weight: 400;
    color: #1f2229;
    text-overflow: ellipsis;
}

.table tbody tr:hover {
    background-color: #f0f2f4;
}

.table tbody tr:hover .row-edit {
    display: flex;
}

.table .text--blue {
    color: #0f2fbd;
}

.table .text--blue:hover {
    text-decoration: underline;
}

.text--icon {
    display: flex;
    align-items: center;
}

.text--icon-right {
    display: flex;
    align-items: center;
    line-height: 40px;
    justify-content: flex-end;
}

.table tr {
    height: 40px;
    border-bottom: 0.5px solid #D3D7DE;
    cursor: pointer;
}

.table td,
th {
    padding: 0 8px;
    border: none;
}

.table__checkbox {
    padding-left: 16px;
    padding-right: 10px;
}

.th__120 {
    width: 160px;
    background-color: red;
    height: 48px;
}

.th__80 {
    width: 80px;
}

.th__60 {
    width: 60px;
}

.text-align-left {
    text-align: left;
    
}

.text-align-right {
    text-align: right;
}

table tr.row--selected {
    background-color: #dedede;
}

.abc {
    /* padding: 0 10px; */
    box-sizing: border-box;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 56px;
    overflow: auto;
}

.m-table thead {
    position: sticky;
}
 
.row-edit {
    display: none;
    width: 24px;
    height: 24px;
    padding-left: 4px;
    justify-content: start;
    align-items: center;
    cursor: pointer;
}
