.icon--16 {
    position: absolute;
    top: 10px;
    left: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
}
.icon--facebook{
    background: url('../../assets/img/icon_collection.svg') no-repeat -288px -321px;
	width: 16px;
	height: 16px;
    margin-right: 20px;
}
.icon--3D{
	background: url('../../assets/img/icon_collection.svg') no-repeat -369px -193px;
	width: 15px;
	height: 14px;
    margin-right: 20px;
}
.icon--calendar{
    background: url('../../assets/img/icon_collection.svg') no-repeat -97px -65px;
	width: 14px;
	height: 15px;
    margin-right: 20px;
}
.icon--bell{
    background: url('../../assets/img/icon_collection.svg') no-repeat -75px -339px;
	width: 18px;
	height: 20px;
    margin-right: 20px;
}
.icon--setting{
    background: url('../../assets/img/icon_collection.svg') no-repeat -16px 1px;
	width: 17px;
	height: 17px;
    margin-right: 20px;
}
.icon--question{
	background: url('../../assets/img/icon_collection.svg') no-repeat -218px -363px;
	width: 20px;
	height: 20px;
    margin-right: 20px;
    

}
.icon--avt{
    background: url('../../assets/img/icon_collection.svg') no-repeat 26.087% 58.264%;
	background-size: 200px 500px;
	width: 16px;
	height: 16px;
}

.icon--pre1 {
    background: url('../../assets/img/icon_collection.svg') no-repeat -293px -34px;
    width: 7px;
    height: 13px;
}

.icon--pre2 {
    background: url('../../assets/img/icon_collection.svg') no-repeat -115px -226px;
    width: 9px;
    height: 13px;
}

.icon--next1 {
    background: url('../../assets/img/icon_collection.svg') no-repeat -308px -34px;
    width: 7px;
    height: 13px;
}

.icon--next2 {
    background: url('../../assets/img/icon_collection.svg') no-repeat -132px -226px;
    width: 9px;
    height: 13px;
}

.icon--dashboard {
    background: url('../../assets/img/icon_collection.svg') no-repeat 0 -272px;
    width: 16px;
    height: 16px;
}

.icon--potential {
    background: url('../../assets/img/icon_collection.svg')no-repeat -160px -289px;
    width: 16px;
    height: 16px;
}

.icon--offer {
    background: url('../../assets/img/icon_collection.svg') no-repeat -16px -272px;
    width: 16px;
    height: 16px;
}

.icon--contact {
    background: url('../../assets/img/icon_collection.svg') no-repeat -129px -48px;
    width: 14px;
    height: 16px;
}

.icon--customer {
    background: url('../../assets/img/icon_collection.svg') no-repeat -112px -48px;
    width: 16px;
    height: 16px;
}

.icon--opportunity {
    background: url('../../assets/img/icon_collection.svg') no-repeat -80px -48px;
    width: 16px;
    height: 16px;
}

.icon--quote {
    background: url('../../assets/img/icon_collection.svg') no-repeat -66px -48px;
    width: 12px;
    height: 16px;
}

.icon--order {
    background: url('../../assets/img/icon_collection.svg') no-repeat -144px -48px;
    width: 16px;
    height: 16px;
}

.icon--receipt {
    background: url('../../assets/img/icon_collection.svg') no-repeat -50px -48px;
    width: 12px;
    height: 16px;
}

.icon--pond {
    background: url('../../assets/img/icon_collection.svg') no-repeat -66px -305px;
    width: 12px;
    height: 15px;
}

.icon--active {
    background: url('../../assets/img/icon_collection.svg') no-repeat -129px -272px;
    width: 15px;
    height: 15px;
}

.icon--target {
    background: url('../../assets/img/icon_collection.svg') no-repeat -81px -273px;
    width: 15px;
    height: 15px;
}

.icon--campaign {
    background: url('../../assets/img/icon_collection.svg') no-repeat -208px -48px;
    width: 16px;
    height: 16px;
}

.icon--report {
    background: url('../../assets/img/icon_collection.svg') no-repeat -32px -272px;
    width: 16px;
    height: 16px;
}

.icon--other {
    background: url('../../assets/img/icon_collection.svg') no-repeat -49px -275px;
    width: 14px;
    height: 11px;
}

.function__left__item__icon1{
    background: url('../../assets/img/icon_collection.svg') no-repeat -336px -32px;
	width: 16px;
	height: 16px;
}
.function__left__item__icon2{
	background: url('../../assets/img/icon_collection.svg') no-repeat -352px -32px;
	width: 16px;
	height: 16px;
}


.content__left__top__icon1{
    background: url('../../assets/img/icon_collection.svg') no-repeat -322px -37px;
	width: 13px;
	height: 7px;
    margin-right: 16px;
}
.content__left__top__icon2{
    background: url('../../assets/img/icon_collection.svg') no-repeat -27px -340px;
	width: 17px;
	height: 18px;
    margin-right: 16px;
}

.icon__call{
    background: url('../../assets/img/icon_collection.svg') no-repeat -177px -322px;
	width: 15px;
	height: 15px;
    margin-left: 30px;
}
.icon__box{
    background: url('../../assets/img/icon_collection.svg') no-repeat -194px -321px;
	width: 12px;
	height: 16px;
    margin-left: 30px;

}
.icon__sheet{
    background: url('../../assets/img/icon_collection.svg') no-repeat -209px -321px;
	width: 14px;
	height: 16px;
    margin-left: 30px;
}
.icon__mail{
    background: url('../../assets/img/icon_collection.svg') no-repeat 0 -324px;
	width: 16px;
	height: 11px;
    margin-left: 30px;
    margin-right: 30px;

}

.icon--text{
	background: url('../../assets/img/icon_collection.svg') no-repeat -34px -18px;
	width: 16px;
	height: 16px;
	
	
}
.icon__bot{
	background: url('../../assets/img/icon_collection.svg') no-repeat -52px -38px;
	width: 9px;
	height: 5px;
	

}