@import url(../css/base/btn.css);
@import url(../css/base/input.css);
@import url(../css/base/toast.css);
@import url(../css/base/toogle.css);
@import url(../css/base/icon.css);
@import url(../css/base/table.css);
@import url(../css/base/navigate.css);
@import url(../css/base/checkbox.css);
@import url(../css/base/popup.css);
@import url(../css/layout/content.css);
@import url(../css/layout/menu.css);
@import url(../css/layout/function.css);
body {
    font-family: Roboto;
    font-size: 13px;
    color: #454545;
    overflow: hidden;
}

* {
    margin: 0;
}