.function{
    width: 100%;
    height:64px;
    background-color:#D3D7DE;
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
}
.function__left{
    display:flex;
    align-items: center;
    margin-left: 10px;
}
.function__left__item{
    display: flex;
    margin-right: 10px;
}
.function__left__item__text1{
    margin-right: 10px
}
.function__left__item__text2{
    margin-right: 10px
}
.function__left__item__text1{
    font-size: 14px;
    color: rgb(1, 6, 19);
    font-weight: 800;
}
.function__left__item__text2:hover{
    color:rgb(43, 78, 238)
}

.fuction__right{
    display:flex;
    align-items: center;
    padding-right: 30px;
}
.function__right__add{
    margin-right: 180px;
    align-items: center;
    width: 40px;;
    
}
    .function__right__add__text{
        
    }